pydantic>=2.0.0
opencv-python
pillow
numpy
torch
torchvision
huggingface_hub
datasets
scikit-learn
tqdm
ipykernel
ipywidgets
transformers
timm
safetensors
pyarrow
accelerate>=1.1.0
faiss-cpu
matplotlib
pandas
seaborn
pytest
