pydantic>=2.0.0
invisible-watermark
opencv-python
pillow
numpy
PyWavelets
scipy
torch 
torchvision
huggingface_hub
datasets
scikit-learn
tqdm
ipykernel
ipywidgets
transformers
accelerate>=1.1.0
birder